@model IEnumerable<ArmyTechTask.Models.Person>

@{
    ViewBag.Title = "Index";
}

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css" rel="stylesheet">
<h2>Student list</h2>

<div style="float:left">
   
    <button onclick="location.href='@Url.Action("Create", "Student")';return false;" class="btn btn-primary">Create New Student </button>


</div>
<div style="float:right; width:40%;">
    <form asp-controller="DiaryReports" asp-action="Index" class="form-group">
        <div class="col-sm-6">
            <input class="form-control" type="text" name="SearchString" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default btn-info">Filter</button>
    </form>

</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HireDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnrollmentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discriminator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student_img)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfficeAssignment.Location)
            </th>
            <th></th>
        </tr>
    </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HireDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnrollmentDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discriminator)
                </td>
                <td>
                    @*<img class="img-thumbnail" style="cursor:pointer;height:100px;width:100px" src="@item.Student_img"
                         asp-append-version="true" alt="@item.Student_img" />*@
                    <img class="img-responsive" 
                         style="cursor:pointer;height:100px;width:100px"
                         src="~/StudentImg/@item.Student_img" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OfficeAssignment.Location)
                </td>
                <td>
                    <button onclick="location.href='@Url.Action("Edit", "Student" ,new { id = item.PersonID })';return false;" class="btn btn-warning" value="Edit" style="width:auto" >Edit </button>


                    <button onclick="location.href='@Url.Action("Details", "Student", new { id = item.PersonID })';return false;" class="btn btn-info" value="Edit" style="width:auto">Details </button>

                    <button onclick="location.href='@Url.Action("Delete", "Student", new { id = item.PersonID })';return false;" class="btn btn-danger" value="Edit" style="width:auto">Delete </button>

                   
            </tr>
        }

</table>
